

.top-nav{
    height: 30px;
    background-color: #4967a4;
    color: azure;
    margin: 5px 0px;
    text-align: center;
}
.post-btn{
    float: right;
}
.btn-box{
margin: 5px;
}
.table-box{
margin: 20px 0px 0px 0px;
display: flex;
justify-content: center;
}